div {
    background-color: #FF0000;
}

button {
    border-radius: 30px;
    height: 30px;
    background-color: #2e4053;
    color: #d6dbdf;
    width: 140px;
    
}

button:hover {
    color: #2e4053;
    background-color: #d6dbdf;
}