div {
    background-color: #6a78a5;
    padding:10px;
    border-radius: 10px;
    text-align:center;
}

button {
    border-radius: 10px;
    height: 40px;
    background-color: #2e4053;
    color: #d6dbdf;
    width: 100%;
    font-size:15px;
    margin:auto;
}

button:hover {
    color: #2e4053;
    background-color: #d6dbdf;
}